/* .app-container{    
    /* background-color: #0a1429;
    background-image: linear-gradient(to bottom right, #0a1429, #00ff99);  

    background: rgb(0,19,47);
    background-image: linear-gradient(to top right,
     rgba(0,19,47,1) 15%, rgba(14,49,73,1) 40%, rgba(99,174,95,1) 100%);
} */