<!-- <div class="header">
    <h2>Northern Lights App</h2>
    <h2>NORTHERN LIGHTS APP</h2>
</div>
<div class="header2">
    <h2>Northern Lights App</h2>
    <h2>NORTHERN LIGHTS APP</h2>
</div> -->

<div class="header3">
    <h2>Want to see Northern Lights?</h2>
    <!-- <h2>NORTHERN LIGHTS APP</h2> -->
</div>

<!-- <div class="header4">
    <h2>Northern Lights App</h2>
    <h2>NORTHERN LIGHTS APP</h2>
</div> -->
<div class="example-card">
    <mat-card>
        <mat-card-header>
            <mat-card-title>Northern Lights are Coming</mat-card-title>
            <mat-card-subtitle>Aurora Borealis Finland</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="../../assets/Aurora_borealis.png" alt="Photo of a Aurora Borealis">
        <mat-card-content>
            <p>
                An aurora (plural: auroras or aurorae), sometimes referred to as polar lights, northern lights
                (aurora
                borealis),
                southern lights (aurora australis), is a natural light display in the Earth's sky, predominantly
                seen in
                the
                high-latitude regions (around the Arctic and Antarctic).
            </p>
        </mat-card-content>
        <mat-card-actions>
            <button mat-button>VERIFY</button>
            <button mat-button>SHARE</button>
        </mat-card-actions>
    </mat-card>
</div>

<div class="example-card">
    <mat-card>
        <mat-card-header>
            <mat-card-title>Weather of the last days and forcast</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <app-line-chart></app-line-chart>
        </mat-card-content>
    </mat-card>
</div>

<div class="example-card">
    <mat-card>
        <mat-card-header>
            <mat-card-title>K Index of the last days and forcast</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <app-line-chart></app-line-chart>
        </mat-card-content>
    </mat-card>
</div>